/* CSS HEX */
/* --rich-black: #04080fff;
--glaucous: #507dbcff;
--powder-blue: #a1c6eaff;
--columbia-blue: #bbd1eaff;
--platinum: #dae3e5ff; */

:root {
  /* CSS HEX */
  --tiffany-blue: #9dd9d2ff;
  --verdigris: #79bcb8ff;
  --verdigris-2: #5ec2b7ff;
  --light-sea-green: #2ca6a4ff;
  --verdigris-3: #3aa7a3ff;
}

body {
  background-image: url(./images/desk_bg.jpg);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background-color: var(--verdigris-3);
  border: none;
  padding: 2.5%;
}

.buttons {
  display: flex;
  gap: 5%;
}

#projectName {
  margin-bottom: 10%;
  text-align: center;
}

.buttons > input,
.side-buttons > input {
  appearance: none;
  border: none;
  outline: none;
  border-bottom: 0.2em solid var(--verdigris-3);
  background: rgba(var(--verdigris-3), 0.2);
  border-radius: 0.2em 0.2em 0 0;
  padding: 0.4em;
  color: #000;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  display: flex;
  background-color: var(--tiffany-blue);
  width: 90%;
  margin-top: 2.5%;
}
.content {
  background-color: var(--verdigris);
  width: 90%;
  display: flex;
}

.sidebar {
  background-color: var(--verdigris-2);
  width: 30%;
}

.side-buttons {
  padding: 10%;
  display: flex;
  flex-direction: column;
}

.list {
  background-color: var(--verdigris-3);
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.task {
  background-color: var(--tiffany-blue);
  width: 30%;
  padding: 2%;
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
}

.task-desc {
  max-width: 100%;
  min-width: 50%;
  border: none;
  background-color: var(--verdigris);
}

.task-list {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: flex-start;
}

.subTask {
  width: 100%;
  padding-top: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subTask > button {
  padding: 2.5%;
  width: 20%;
}

p.checked {
  text-decoration: line-through;
}

/* Photo by <a href="https://unsplash.com/@retrosupply?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">RetroSupply</a> on <a href="https://unsplash.com/photos/vintage-teal-typewriter-beside-book-jLwVAUtLOAQ?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a> Add this later
   */
