/* CSS HEX */
/* --rich-black: #04080fff;
--glaucous: #507dbcff;
--powder-blue: #a1c6eaff;
--columbia-blue: #bbd1eaff;
--platinum: #dae3e5ff; */

:root {
  /* CSS HEX */
  --tiffany-blue: #9dd9d2ff;
  --verdigris: #79bcb8ff;
  --verdigris-2: #5ec2b7ff;
  --light-sea-green: #2ca6a4ff;
  --verdigris-3: #3aa7a3ff;
}

body {
  background-image: url(./images/desk_bg.jpg);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  display: flex;
  background-color: var(--tiffany-blue);
  width: 90%;
  margin-top: 2.5%;
}
.content {
  background-color: var(--verdigris);
  width: 90%;
  display: flex;
}

.sidebar {
  background-color: var(--verdigris-2);
  width: 30%;
}

.side-buttons {
  padding: 10%;
}

.list {
  background-color: var(--verdigris-3);
  width: 100%;
}

.task {
  background-color: var(--tiffany-blue);
}

/* Photo by <a href="https://unsplash.com/@retrosupply?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">RetroSupply</a> on <a href="https://unsplash.com/photos/vintage-teal-typewriter-beside-book-jLwVAUtLOAQ?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a> Add this later
   */
