/* CSS HEX */
/* --rich-black: #04080fff;
--glaucous: #507dbcff;
--powder-blue: #a1c6eaff;
--columbia-blue: #bbd1eaff;
--platinum: #dae3e5ff; */

:root{
    --rich-black: #04080fff;
--glaucous: #507dbcff;
--powder-blue: #a1c6eaff;
--columbia-blue: #bbd1eaff;
--platinum: #dae3e5ff;

}

::placeholder {
    color: var(--rich-black);
}

body {
    margin: 0;
    background-color: var(--columbia-blue);
    color: var(--rich-black);
}
nav {
    background-color: var(--platinum);
    text-align: center;
}

h1 {
    margin-top: 0;
}

input {
    border: none;
    border-bottom: 2px solid var(--rich-black);
    background-color: var(--glaucous);
    outline: none;
    font-size: 1.2rem;
    text-align: center;
    margin: 2%;
}

ul, li {
    padding-left: 2%;
    list-style: none;
    width: 70%;
}


ul > input {
    border-bottom: none;
    font-size: 1rem;
    margin: 0;
    text-align: left;
    width: 90%;
}

.sub-task {
    font-size: .7rem;
    background-color: var(--platinum);
    padding: 2%;
    border: none
}


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background-color: var(--glaucous);
    width: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 2%;
}

.card-list {
    text-align: left;
    margin: 4%;
    display: flex;
    align-items: center;
}

.card-top {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sub-list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sub-task.text {
    background-color: var(--glaucous);
    text-align: left;
    font-size: .8rem;
}

.card-title {
    width: 50%;
}

.new-task-btn {
    padding: 6%;
    background-color: var(--platinum);
    margin-top: 5%;
}